* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(195, 195, 253);
}

.snare-pad {
  background: rgb(205, 255, 202);
}

.hihat-pad {
  background: rgb(251, 205, 204);
}

.kick-pad.active {
  background: rgb(42, 42, 247);
}

.snare-pad.active {
  background: rgb(44, 255, 29);
}

.hihat-pad.active {
  background: rgb(253, 45, 42);
}

.sequencer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 2rem;
}

.hihat,
.snare,
.kick {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 1rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(226, 226, 226);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
  background: rgb(226, 226, 226);
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.5s ease;
}

select {
  width: auto;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
}

.mute.active {
  color: rgb(226, 226, 226);
  background-color: black;
}

.play.active {
  color: rgb(226, 226, 226);
  background-color: black;
}

.tempo {
  margin: 1rem;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  overflow: visible;
  cursor: pointer;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1080px) {
  .hihat-track,
  .snare-track,
  .kick-track {
    flex-direction: column;
    align-items: stretch;
    width: 95%;
    margin-top: 1rem;
  }

  select {
    display: none;
  }

  .controls button {
    padding: 1rem;
    border: none;
    background: rgb(226, 226, 226);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10%;
    transition: all 0.5s ease;
    margin-bottom: 1rem;
  }

  .hihat,
  .snare,
  .kick {
    display: flex;
  }

  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 3rem;
    height: 3rem;
  }

  .play {
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }

  .tempo {
    width: 50%;
    font-size: 1.5rem;
  }

  .tempo-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
  }
}
